### Basic Data Types

Python works with values such as 10, 5.5 and 'hello'
These values correspond to data types such as Integers, Real Numbers (Floats) and Strings

#### Constants and Variables

Constants: Fixed values whose numbers do not change
    Examples of Numeric constants: 10, 5.5
    Examples of String Constants: 'hello'

In [1]:
print (10)
type (10)   #tells you the data type; better use print(type(10)); see below

10

int

In [2]:
print (type(5.6))

<class 'float'>

In [3]:
print (type ('hello'))

<class 'str'>

Variable is a name that represents a value stored in the computer memory. It is used to access and manipulate data stored in memory. A variable references the value it represents.

Assignment statement is used to create a variable and make it reference data
General format is variable = expression
Example: age = 29
Assignment operator: the equal sign (=)

In [0]:
x=5        # x is a variable that is assigned a value 5
print (x)

5

In [0]:
x=5
x='world'
print (x)
type (x)

world

str

x was assigned a value 5 and then it was assigned the value 'hello'.<br>  
Is this okay? What data type is x? <br>
What happens behind the scenes (referencing, garbage collection, dynamic typing)? <br>

In [0]:
# In the assignment statement, variable receiving value must be on left side. 
# Multiple assignment is possible in Python.
a,b = 5, 'hello'
print (a,b)

5 hello

Other Notes: 
A variable can be passed as an argument to a function (for example, see print statement above). <br>
Variable name should not be enclosed in quote marks. <br>
You can only use a variable if a value is assigned to it. What happens otherwise? <br>

In [0]:
# Spot and fix error
temperature=80
print(Temperature)

NameError: name 'Temperature' is not defined


#### Rules for naming variables in Python:

First character must be a letter or an underscore <br>
After the first character, you may use letters, digits, or underscores <br>
Variable name cannot be a Python key word  <br>
Variable names are case sensitive <br>
Variable name should reflect its use and be descriptive (for example, length=25 is preferable over a=25) <br>


Good: name, pig, length, abc123 <br>
Bad: 23name, var.12,  #name <br>
Different: name, NAME, Name <br>

In [0]:
# Exercise
# Spot and correct the errors
x=5
3a2=1
ab-2=4
ab2=5
print (x, 3a2, ab-2, ab2)

#### Assignment Statements: Expressions, Operators and Operands

In [0]:
x=1
x=x+1
print (x)

2

In [0]:
x=x*x-1
print (x)

3

In [0]:
# Other Operators
print (5/2)  # / is the operator; 5 and 2 are operands
print (5//2)
print (-5//2)
print (19%3)

2.5
2
-3
1

In [0]:
x,y=2,5.0
z=x*y
print (z)
type (z)

10.0

float

In [0]:
# what happens when str is multiplied by int; other operations
s="hi"
s1=s*2
#s2=s+2
#s3=s/2
#s4=s-2
print(s1)
#print(s2)

hihi

In [0]:
# Expressions, PEMDAS
v1=3+10/2
v2=3+10/2**3
print (v1,v2)

8.0 4.25

In [0]:
# Assignments: Average; SalePrice; FutureValue; Convert Time (discuss in class)
# More Print formatting - next module as well as book (discuss in class)